<div fxLayout="row" class="loginMargin" id="change-pass">
    <div fxFlex fxLayout="column">
      <form fxLayout="column" fxFlexAlign="center" name="loginForm" #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)">
        <h4 fxFlexAlign="center">CHANGE PASSWORD:</h4>
        <mat-form-field>
          <input type="text" matInput placeholder="Employee code" name="EmployeeCode" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="OldPassword" minlength="6" name="oldPassword" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="New password" minlength="6" name="newPassword" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="confirm password" minlength="6" name="confirmPassword" ngModel required>
        </mat-form-field>
        <span>
          <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">submit</button>
        </span>
      </form>
    </div>
  </div>