<div fxLayout="row" fxLayoutAlign="start center" class="signupmargin">
  <form name="SignupForm" #SignupForm="ngForm" (ngSubmit)='handlesubmit(SignupForm)'>
    <h4 class="text-center">REGISTER:</h4>
    <mat-form-field>
      <input matInput placeholder="email" type="Email" name="Email" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="password" type="Password" name="Password" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="FatherName" type="text" name="FatherName" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Address" type="text" name="Address" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="PermananentAddress" type="text" name="PermananentAddress" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="AdhaarNo" type="text" name="AdhaarNo" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="PancardNo" type="text" name="PancardNo" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="EmployeeContactNo" type="text" name="EmployeeContactNo" ngModel required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="EmergencyContactNo" type="text" name="EmergencyContactNo" ngModel required>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" type="submit" [disabled]="SignupForm.invalid">Register</button>
    </div>
  </form>
</div>