<div *ngIf="hide">
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-5">
    <form name="ResetForm" #ResetForm="ngForm" (ngSubmit)='handlesubmit(ResetForm)'>
      <mat-card class="example-card">
        <h4 class="text-center">reset</h4>
        <mat-form-field>
          <input matInput placeholder="email" type="text" name="email" ngModel required>
        </mat-form-field><br>
        <div>
          <button mat-flat-button color="primary" type="submit" [disabled]="ResetForm.invalid">submit</button>
        </div>
      </mat-card>
    </form>
  </div>
</div>

<div *ngIf="otp">
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-5">
    <form name="setForm" #setForm="ngForm" (ngSubmit)='submit(setForm)'>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="otp" type="text" name="otp" ngModel required>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="password" type="text" name="password" ngModel required>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="new password" type="text" name="new password" ngModel required>
        </mat-form-field><br>
        <button mat-flat-button color="primary" type="submit" [disabled]="setForm.invalid">submit</button>
      </mat-card>
    </form>
  </div>
</div>