<div fxLayout="row" class="loginMargin">
  <div fxFlex fxLayout="column">
    <div fxLayout="column" fxFlexAlign="start">
      <mat-card class="example-card">
        <img mat-card-image src="../../assets/user1.jfif" alt="Photo of a users"class="w3-circle">
      </mat-card>
      <button class="mt-5" (click)="starttime()" mat-raised-button color="accent">Start Time</button>
      <button class="mt-5" (click)="endtime()" mat-raised-button color="accent">End Time</button>
    </div>
  </div>
</div>